/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* Base button style */

.root{
    -fx-background-color: linear-gradient(to bottom, #B3C6C8, #0f6789); 
    /*linear-gradient(to bottom right, #0f6789, #286155);*/
}

#normal {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
    -fx-background-color: #4681f1; /* Replace with AppConst.Normal_COLOR */
    -fx-text-fill: white;
}

#normal:hover {
    -fx-background-color: #7AAEF9; /* Lighter shade for hover */
    -fx-font-size: 17px;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand; /* Change cursor to hand */
}

#normal:pressed {
    -fx-background-color: #25478a; /* Darker shade for pressed */
    -fx-font-size: 16px;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
