/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
   .root {
    -fx-background-color: linear-gradient(from 39.3365% 27.0142% to 57.346% 53.0806%, #1e0a9e 0.0%, #11ced4cf 100.0%);
    -fx-background-image: url("file:///C:/Users/SMZ/eclipse-workspace/home/src/application/image1.jpg");
    -fx-background-size: 100% 100%; /* This makes the image cover the entire background */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat; /* Prevents the image from repeating */
}
   
    .button {
    -fx-background-color: linear-gradient(from 58.2938% 11.8483% to 69.6682% 75.3555%, #000000 0.0%, #302cb9 100.0%);
    -fx-text-fill: #FFFFFF; 
    -fx-background-insets: 0, 1, 2; 
    -fx-background-radius: 5, 4, 3; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 2); 
}


.button:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #302cb9 0.0%, #000000 100.0%);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0, 0, 2); 
    -fx-background-insets: 1; 
}
/* style.css */
.text-area {
    -fx-font-size: 18px; /* Set font size */
    -fx-text-fill: #000000; /* Set text color */
    -fx-font-family: "bold;"; /* Optional: Set font family */
  
}
    
